<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

    <!-- bootsrap4 link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

     <!-- Jquery CDN -->
     <!-- <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script> -->
     <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js" integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/gstyle.css}">
    <title th:text="${title}">Home</title>
</head>

<body>

    <!-- starting of Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" th:href="@{'/home'}">PGMAN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <img th:src="${'/image/'+owner.profile}" class="img-fluid" style="height: 40px; width: 40px;" alt="">
                </li>
                <li class="nav-item">
                    <h3 class="nav-link text-warning" ><span th:text="${owner.name}"></span></h3>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/logout'}" hint="LogOut">Logout</i></a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Ending of Navbar -->
    
    <!-- starting of sidebar -->
    <div class="sidebar">
        <span onclick="toggleSidebar()" class="crossBtn">
            &times;
        </span>
        <div class="card mb-5 profile-card">
            <div class="user-profile">
                <img th:src="${'/image/owner/'+owner.profile}" alt="" class="profile-photo top-profile">
                <h2 th:text="${owner.name}" class="text-center mt-2"></h2>
            </div>
            <div class="container">
                <table >
                    <tr>
                        <th>ID</th>
                        <td th:text="${owner.id}" class="text-muted bg-white text-center" style="border-radius: 8px;"></td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td th:if="${owner.enabled}" class="text-success px-2">Active</td>
                        <td th:if="${!owner.enabled}" class="text-danger px-2">Deactive</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td class="px-2" th:text="${owner.email}"></td>
                    </tr>
                    <tr>
                        <th>Mobile</th>
                        <td class="px-2" th:text="${owner.phoneNo}"></td>
                    </tr>
                    <tr>
                        <th>Occ.</th>
                        <td class="px-2" th:text="${owner.occupation}"></td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td class="px-2" th:text="${owner.gender}"></td>
                    </tr>
                    <tr>
                        <th>DOB</th>
                        <td class="px-2" th:text="${#temporals.format(owner.dob,'dd-MM-yyyy')}"></td>
                    </tr>
                    <tr>
                        <th>Reg.</th>
                        <td class="px-2" th:text="${#temporals.format(owner.regDate,'dd-MM-yyyy')}"></td>
                    </tr>
                    <tr>
                        <th>Add.</th>
                        <td th:text="${owner.address}"></td>
                    </tr>
                </table>
                <div th:if="${owner.enabled}">
                    <a href="#" class="btn btn-block btn-success"> Edit</a>
                </div >
                <div th:if="${!owner.enabled}" class="text-center">
                    <button type="button" class="btn btn-block btn-warning" data-toggle="modal"
                        data-target="#add-modal"> Add details</button>
                </div>
            </div>
        </div>
        <a id="home-link" th:href="@{/owner/dashboard}" class="item active">
            <span><i class="fa-solid fa-grid-horizontal"></i></span>
            Dashboard</a>
        <a id="profile-link" href="#" class="item"><i class="fa-solid fa-user"></i> Profile</a>
        <a id="settings-link" th:href="@{/owner/setting}" class="item"><i class="fa-solid fa-gear"></i> Settings</a>
        <a th:href="@{/logout}" class="item"><i class="fa-solid fa-sign-out-alt"></i> LogOut</a>
    </div>
    <!-- <div style="width: 50%; margin-top: 5rem; margin-right: 20wh; padding-left: 20;">
        <i onclick="toggleSidebar()" class="fas fa-bars m-3" ></i>
    </div> -->
    <!-- Ending of sidebar -->

    <!-- Starting of content area -->
    <div class="content">
        <i onclick="toggleSidebar()" class="fas fa-bars m-3" style="margin-top: 5rem;"></i>
        <!-- Alert message -->
        <div th:if="${success}" class="alert alert-success text-center" role="alert" th:text="${success}"></div>
        <div th:if="${error}" class="alert alert-danger text-center" role="alert" th:text="${error}"></div>

        <div th:replace="${content}"></div>
    </div>
    <!-- ending of content area -->

    <script th:src="@{/script/script.js}"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
</body>

</html>