<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="ownerviews/base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <section class="mt-5" style="margin-top: 10; padding-top: 10;">
        <div class="container-fluid text-center mt-5">

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="container-fluid">
                            <h1 class="text-muted text-center">Pg Details</h1>
                            <table class="table mt-2">
                                <tr>
                                    <th>Name</th>
                                    <td th:text="${pg.name}"></td>
                                </tr>
                                <tr>
                                    <th>Total Floor</th>
                                    <td th:text="${pg.floor.size}"></td>
                                </tr>
                                <tr>
                                    <th>Registered</th>
                                    <td th:text="${#temporals.format(pg.regDate,'dd-MM-yyyy')}"></td>
                                </tr>

                            </table>

                            <div class="card mb-3">
                                <h2 class="text-muted">Address</h2>
                                <div class="container-fluid text-center">
                                    <div th:if="${pg.address == null}">
                                        <h3 class="text-danger">Address is not avialiable</h3>
                                    </div>
                                    <table class="table mt-2" th:if="${pg.address != null}">
                                        <tr>
                                            <th>Street</th>
                                            <td th:text="${pg.address.street}"></td>
                                        </tr>
                                        <tr>
                                            <th>City</th>
                                            <td th:text="${pg.address.city}"></td>
                                        </tr>
                                        <tr>
                                            <th>Pin code</th>
                                            <td th:text="${pg.address.pinCode}"></td>
                                        </tr>
                                        <tr>
                                            <th>State</th>
                                            <td th:text="${pg.address.state}"></td>
                                        </tr>
                                        <tr>
                                            <th>Country</th>
                                            <td th:text="${pg.address.country}"></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- <div th:each="flr : ${pg.floor}">
                                <h4>Name: <span th:text="${flr.name}"></span></h4>
                            </div> -->
                            <div class="container text-center">
                                <div class="row">
                                    <div class="col">
                                        <button type="button" class="btn btn-block btn-success" data-toggle="modal"
                                            data-target="#editPg-modal">Edit</button>
                                    </div>
                                    <div class="col">
                                        <button type="button" class="btn btn-block btn-success" data-toggle="modal"
                                            data-target="#policy-modal"
                                            th:text="${pg.policy == null ? 'Add policy' : 'Edit policy'}"></button>
                                    </div>
                                    <div class="col">
                                        <a href="#" class="btn btn-block btn-warning">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card mb-5">
                        <h1 class="text-muted tex-center">Floors and Rooms</h1>
                        <div th:if="${pg.floor.size == 0 || pg.floor.size == null}">
                            <div class="container-fluid text-center">
                                <h3 class="text-danger">You have not added the floor</h3>
                                <button class="btn btn-success" type="button" data-target="#addFloor-modal"
                                    data-toggle="modal">
                                    <span>Add floor</span>
                                </button>
                            </div>
                        </div>

                        <div th:if="${pg.floor.size > 0 || pg.floor.size != null}" class="card mt-4"
                            th:each="flr : ${pg.floor}">
                            <div class="container-fluid text-center">                               
                                <h3 class="floor-name" th:text="${'Floor ' + flr.name}"></h3>
                                <input type="number" th:value="${flr.id}" id="floor" hidden >
                                <button type="button" title="Add Flat" class="btn add add-ffr custom-button"
                                    data-target="#addflat-modal" data-toggle="modal" id="add_flat"
                                    th:onclick="|getId(${flr.id})|">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                                <button type="button" th:title="${'Edit Floor ' + flr.name}" class="btn update add-ffr custom-button"
                                data-target="#editFloor-modal" data-toggle="modal" th:onclick="|updateFloor(${flr.id})|">
                                    <i class="fa-solid fa-pen-nib"></i>
                                </button>
                                <button type="button" th:title="${'Delete Floor ' + flr.name}" th:onclick="|deleteFloor(${flr.id})|"
                                    class="btn delete add-ffr custom-button">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                                <div class="row">
                                    <!-- flat view -->
                                    <div th:each="flt : ${flr.flat}">
                                        <div class="card d-flex mr-3" th:style="${flt.status ? '' : 'border-color: red!important'}">
                                            <h3 class="floor-name" th:text="${flt.name}"></h3>
                                            <div class="row">
                                                <!-- room view -->
                                                <div th:each="r : ${flt.room}">
                                                    <div class="card d-flex mr-2" th:style="${r.status ? '' : 'border-color: red!important'}">
                                                        <h4 class="floor-name" th:text="${r.name}"></h>
    
                                                    </div>
                                                    <div class="text-center " style=" margin-top: -40px; margin-right: 6px;">
                                                        <button type="button" th:title="${'Edit ' + r.name} " class="btn update room-btns tenxt-center custom-button"
                                                        data-target="#editRoom-modal" data-toggle="modal" th:onclick="|updateRoom(${flt.id},${r.Id})|">
                                                            <i class="fa-solid fa-pen-nib"></i>
                                                        </button>
                                                        <button type="button" th:title="${'Delete ' + r.name} " th:onclick="|deleteRoom(${r.id})|"
                                                            class="btn delete room-btns custom-button">
                                                            <i class="fa-solid fa-trash-can"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="text-center " th:attr="style=#{flt.size==0 ? 'margin-top:10px;' : 'margin-top:-18px;' }"> -->
                                        <div class="text-center " style="margin-top:-18px;">
                                            <button type="button" th:title="${'Add room in ' + flt.name} " class="btn add room-btns text-center custom-button"
                                            th:onclick="|getFlat(${flt.id})|" data-target="#addRoom-modal" data-toggle="modal">
                                                <i class="fa-solid fa-plus"></i>
                                            </button>
                                            <button type="button" th:title="${'Edit ' + flt.name} " class="btn update room-btns text-center custom-button"
                                            data-target="#editFlat-modal" data-toggle="modal" th:onclick="|updateFlat(${flr.id},${flt.id})|">
                                                <i class="fa-solid fa-pen-nib"></i>
                                            </button>
                                            <button type="button" th:title="${'Delete ' + flt.name} " th:onclick="|deleteFloor(${flr.id})|"
                                                class="btn delete room-btns custom-button">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid mt-3">
                            <button type="button" title="Add Floor" class="btn add custom-button"
                                data-target="#addFloor-modal" data-toggle="modal">
                                <span><i class="fa-solid fa-plus"></i></span>
                            </button>
                            <button type="button" title="Edit Floor" class="btn update custom-button">
                                <span><i class="fa-solid fa-pen-nib"></i></span>
                            </button>
                            <button type="button" title="Delete Floor" class="btn delete custom-button">
                                <span><i class="fa-solid fa-trash-can"></i></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="ownerviews/fragments/pgEditModal.html :: aside"></div>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script th:src="@{/script/pgedit.js}"></script>
    </section>
</body>

</html>