@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ROOT VARIIABLES */
:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #1c9d72;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-lemon-tonic: #FCF951FF;
    --color-purple: #7C5989;
    --color-pink: #BB75AD;
    --color-navy:  #6883bc;
    --color--meta-black: #01081F;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    
    --card-border-radius: 20px;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/* ==================== DARK THEME ===================== */
.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0,0,0,0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100%;
    height: 100%;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    /* background: #04123b; */
    overflow-x: hidden;
    color: var(--color-dark);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    overflow: hidden;
    grid-template-columns: 14rem aouto 23 rem;
}

img { 
    display: block;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 0.88rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

section {
    margin-top: .5rem;
    /* padding: 5; */
}

.dot {

}

.custom-primary {
    background: var(--color-primary);
}

.profile-photo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border-color: #7380ec;
    border-width: 3px;
    overflow: hidden;
}

.profile-card {
    width: 95%;
    margin-left: 7px;
    border-radius: 8px !important;
    background: var(--color-primary);
    /* background: var(--color-success); */
    color: var(--color-white);
    /* clip-path: circle(100px at 0 0); */
}

.dash-card {
    border-radius: 8px !important;
    background: var(--color-warning) !important;
    /* color: var(--color-white); */
}

.dash-card2 {
    border-radius: 8px !important;
    background: var(--color-success) !important;
    /* color: var(--color-white); */
}

.sm-profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--color-info-dark);
}

.primary {
    color: var(--color-primary);
}

.sidebar {
    width: 20%;
    /* margin-top: 4rem; */
    /* background: var(--color-dark-variant); */
    /* display: none; */
    background: white;
    height: 100vh;
    position: fixed;
    padding-top: 45px;
    z-index: 9999;
    overflow: hidden;
}

.selectVal {
    
}

.call-button {  
    display: none;
    margin-bottom: 0;
}

/* .content {
    margin-left: 0% !important;
} */

@media screen and (max-width: 500px) {
    .sidebar {
        display: none;
        width: 80% !important;
        background: white;
        height: 100vh;
        position: fixed;
        padding-top: 20px;
        transition: all 300ms ease;
    }

    .content {
        margin-left: 0% !important;
    }

    .call-button {
        display: block;
        position: fixed;
        bottom: -4px;
    }

    .sidebar {
        width: 38%;
        background: white;
        height: 100vh;
        position: fixed;
        padding-top: 45px;
        z-index: 9999;
    }

    .payment-info {
        overflow: scroll;
    }
    .payment-info .card{
        overflow: scroll;
        border-color: var(--color-background);
        border-width: 3px;
    }

}

.sidebar a {
    display: block;
    width: 100%;
    padding: 10px 25px;
    text-decoration: none;
    color: gray;
}

.sidebar a:hover {
    background: #e2e2e2;
    color: var(--color-primary);
    margin-left: 15px;
    transition: all 300ms ease;
}

.sidebar .divider {
    height: .5px;
    width: 100%;
    background: #e2e2e2;
}

.content {
    margin-left: 20%;
}

.sidebar .crossBtn {
    position: absolute;
    top: 0;
    right: 35px;
    font-size: 36px;
    cursor: pointer;
    transition: all 300ms ease;
}

.active {
    background: var(--color-primary) !important;
    color: white !important;
}

.card {
    margin-top: 15px;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    /* box-shadow: var(--color-dark-variant); */
    box-shadow: 0 2rem 3rem var(--color-dark-variant);
}

.top-profile {
    margin-top: -70px;
    margin-inline: calc(50% - 7rem / 2);
    overflow: hidden;
}

.user-profile {
    align-items: center;
    justify-content: center;
}

.user-profile h2 {
    font-weight: 600;
}

.card .payments span {
    width: 2.8rem;
    height: 2.8rem;
    background: var(--color-danger);
    justify-content: center;
    font-size: 2rem;
    color: white;
    border-radius: 50%;
}

.card .payments {
    display: flex;  
    overflow: hidden;
}

.card .payments h2 {
    margin-left: 30%;
}

/* Top cards CSS */
.total-collection span{
    border-radius: 50%;
    /* margin-top: 4rem; */
    padding: 5px;
    background: var(--color-white);
    color: var(--color-primary);
    font-weight: 800;
}

.total-collection h1 {
    color: var(--color-info-light);
    margin-left: calc(50% - 10rem / 2);
    opacity: 0.8;
}

.total-guest span {
    border-radius: 50%;
    /* margin-top: 4rem; */
    padding: 5px;
    background: var(--color-white);
    color: var(--color-warning);
    font-weight: 800;
}

.total-guest h1 {
    color: var(--color-info-light);
    margin-left: calc(50% - 10rem / 2);
    opacity: 0.8;
}

.card3 span {
    border-radius: 50%;
    /* margin-top: 4rem; */
    padding: 5px;
    background: var(--color-white);
    color: var(--color-success);
    font-weight: 800;
}

.card3 h1 {
    color: var(--color-info-light);
    margin-left: calc(50% - 10rem / 2);
    opacity: 0.8;
}

.card .pginfo span {
    width: 2.8rem;
    height: 2.8rem;
    background: var(--color-primary);
    justify-content: center;
    font-size: 2rem;
    color: white;
    border-radius: 50%;
}

.rec-gst {
    background: #d2d2d2;
    color: var(--color--meta-black);
    /* background: var(--color-purple);
    color: var(--color-lemon-tonic); */
}

.link-d {
    background: var(--color-white);
    border-radius: 15px;
    padding-inline: 9px;
}

.card .pginfo {
    display: flex;
}

.card .pginfo h2 {
    margin-left: 30%;
}

.collection {
    width: 160px;
    height: 160px;
}

.outer {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    /* border: 1px solid red; */
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
}

.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255,255,255),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05);
}

#number {
    font-weight: 800;
    color: 555;
}

#number2 {
    font-weight: 800;
    color: 555;
}

/* circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: anim 2s linear forwards;
} */

.progress-circle {
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 430;
    stroke-dashoffset: 430;
    /* animation: anim 2s linear forwards; */
}

svg {
    position: absolute;
    top: 25px;
    left: 25px;
}

@keyframes anim {
    100% {
        stroke-dashoffset: 165;
    }
}

.progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.pg-name {
    background: var(--color-primary);
    border-radius: 20px;
    color: white;
    padding: 5px;
    max-width: 250px;
    margin-left: calc(50% - 250px / 2);
}

/* owner pg sort-info */
.pg-sortinfo {
    display: flex;
    margin-top: 8px;
    overflow: hidden;
    /* background: var(--color-warning); */
}
.pg-sortinfo div {
    display: flex;
    background: var(--color-primary);
    border-radius: 20px;
    margin: 4px;
    overflow-x: hidden;
}
.pg-sortinfo a {
    font-weight: 600;
    font-size: .8rem;
    padding: 15px;
    color: white; 
    border-width: 3px;
    border-color: var(--color-primary);
}
.pg-sortinfo img {
    padding: 3px;
    height: 3rem;
    width: 3rem;
    margin-top: 16px;
    border-width: 0.2rem;
    border-radius: 10px;
    background: #e2e2e2;
}

.reg-date {
    background: #e2e2e2;
    max-height: 2rem;
    color: var(--color-primary);
    border-radius: 8px;
    padding: 5px;
    margin-top: 22px;
}

.card .card {
    border-radius: 8px !important;
    box-shadow: none;
    border-width: 1.5px;
    display: grid;
    border-color: var(--color-dark);
}

.smart-card {
    background: rgba(143,151,228,0.45);
    -webkit-backdrop-filter: blur(17px);
    backdrop-filter: blur(17px);
    border: 1px solid rgba(143,151,228,0.225);
}

.call-button {
    position: fixed;
    bottom: 0px;
    height: 50px;
    max-width: 500px;
    align-content: center;
    margin-left: calc(50% - 500px / 2);
}

.floor-name {
    background-color: var(--color-primary);
    border-radius: 10px;
    border-color: var(--color-dark);
    padding: 3px;
    color: white;
    max-width: 6rem;
    margin-top: -35px;
}

.add-ffr {
    margin-top: -55px;
    align-items: center;
    align-content: center;
}

.room-btns {
    position: relative;
    /* margin-top: -65px; */
    justify-content: center !important;
    align-items: center;
    align-content: center; 
}

.flat-view {
    display: blox;
}

.guest {
    display: flex;
    cursor: pointer;
}

.flat {

}

/* .guest {
    display: flex !important;
    cursor: pointer;
} */

.hold {
    border: solid red;
}

.hide {
    display: none;
}

.dashed {
    background: voilet;
    border-style: dashed;
}

.guest img {
    height: 28px;
    width: 28px;
    border-radius: 50%;
}

.guest span {
    margin-top: 10px;
}

.payment-status-false {
    background: var(--color-danger) !important;
    color: white;
    border-radius: 8px;
    max-height: 2rem;
    padding: 5px;
}

.payment-status-true {
    background: var(--color-success) !important;
    color: white;
    max-height: 2rem;
    border-radius: 8px;
    padding: 5px;
}

.custom-button {
    background: var(--color-primary);
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    color: white;
}

.add {
    background: var(--color-success) !important;
}

.dp-button {
    border-radius: 50%;
    border-color: white;
    border-width: 2px;
    padding: 2px;
    height: 22px;
    width: 22px;
    color: white;
    background-color: #477bff;
    margin-inline: calc(50% - 1px / 2);
    margin-top: -25px;
    position: absolute;
}

.update {
    background: var(--color-warning) !important;
}

.delete {
    background: var(--color-danger) !important;
}

.document {
    border-width: 2px;
    border-radius: 10px;
    border-color: var(--color-dark);
}

.activated {
    border-width: 1.5px;
    border-color: var(--color-success) !important;
}

.deactivated {
    border-width: 1.5px;
    border-color: var(--color-danger) !important;
}