@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900');

/* colours */
.bg-primary {
    background-color: #2F4454!important;
    color: whitesmoke!important;
}

.bg-gradient {
    background-color: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.cool-background {
    background: url("../assests/cool-background.svg");
}

body, html {
    height: 100%;
    background: #e2e2e2;
    
    /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); */
}

.banner {
    width: 100%;
    height: 93vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../assests/pic3.jpg");
}

.poster {
    width: auto;
    height: auto;
}

.user-dash {
    background: #e2e2e2;
    min-height: 40vh;
}

.profile {
    border-radius: 5px;
    box-shadow: 0px 1px 10px 1px #000 ;
    /* box-shadow: 1px 10px 1px #e2e2e2; */
}

.profile-card img {
    max-height: 250px;
}

.card-back {
    background-color: rgb(11,21,48);
}

.card-for {
    background-color: rgb(24,43,73);
    color: white;
}

.p-image {
    height: 35%;
    width: 35%;
    border-radius: 50%;
}

.p-col1 {
    width: 30%;
}

.p-col2 {
    width: 70%;
    margin-left: 2px;
}

.p-box {
    height: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banner404 {
    background-image: url("../assests/404.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
    margin-bottom: 2px;
    
    /* background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../assests/404.png"); */
}

.error404 {
    font-weight: 800;
    background: #e2e2e2;
    padding: 15px;
    border-radius: 20px;
}

.quotes {
    font-weight: 800;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    /* background: #F64C72; */
    /* border-radius: 25px; */
    padding: 10px;

}

.banner-background {
    /* clip-path: polygon(99% 0, 36% 100%, 0 100%, 0 0); */
    /* clip-path: polygon(100% 0, 100% 73%, 0 99%, 0 0); */
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    background: #0A3DB2;
    min-height: 50vh;
}

.banner-back {
    /* clip-path: polygon(100% 100%, 100% 0%, 35% 100%); */
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
    background: #1A1A1D;
    min-height: 50vh;
}

.banner-pic {
    height: 350px;
    width: 350px;
    overflow: hidden;
}

.definition {
    border-radius: 10px;
    background: transparent;
    opacity: 1;
    font-family: Garamond, serif;
    /* font-family: lato; */
    color: white;
    border: #e2e2e2;
    letter-spacing: 3px;
    box-shadow: 0 2rem 3rem var(--color-dark) !important;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

.register-banner {
    background: #0B0C10 !important;
}

.dashboard {
    /* background: #59253A !important; */
    /* background: #0D19A3 !important; */
    background: #F3D250 !important;
}

.primary-dark {
    color: #000 !important;
}

.monitor {
    color: #C3073F;
    font-family: 'Roboto Slab', serif;
    background: #e2e2e2;
    padding: 10px;
    border-radius: 25px;
    font-weight: 800;
    font-size: 2rem;
}

.flying-aero {
    height: 15vh;
    width: 15vh;
    position: absolute;
    /* margin-top: 5%; */
    margin-left: 75%;
}

@media screen and (max-width: 700px) {
    .flying-aero {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .flying-aero {
        position: relative;
        height: 8vh;
        width: 8vh;
    }
}