<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="${title}">Home</title>
</head>

<body>

    <!-- starting of Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" th:href="@{'/home'}">PGMAN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <!-- if guest is login -->
                    <div th:if="${guest != null}">
                        <a class="nav-link" th:href="@{'/guest/dashboard'}" hint="Home"><i class="fa-solid fa-house"></i></i><span class="sr-only">(current)</span></a>
                    </div>
                    <!-- if owner is login -->
                    <div th:if="${owner != null}">
                        <a class="nav-link" th:href="@{'/owner/dashboard'}" hint="Home"><i class="fa-solid fa-house"></i></i><span class="sr-only">(current)</span></a>
                    </div>
                    <!-- Neither guest or neither owner is login -->
                    <div th:if="${guest == null && owner == null}">
                        <a class="nav-link" th:href="@{'/home'}" hint="Home"><i class="fa-solid fa-house"></i></i><span class="sr-only">(current)</span></a>
                    </div>
                </li>
                
                <li class="nav-item active">
                    <a class="nav-link" th:href="signup" hint="Signup"><i class="fa-solid fa-user-plus"></i></i></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="signin" hint="Signin"><i class="fa-solid fa-right-to-bracket"></i></a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Ending of Navbar -->

    <div th:replace="${content}"></div>

    <script th:src="@{/script/script.js}"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>